@model eParty.Models.User

@{
    ViewBag.Title = "Create New User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">User Management</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home"><a href="@Url.Action("Index", "Dashboard")"><i class="icon-home"></i></a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="@Url.Action("Index", "Users")">Users</a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="#">Create</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-header"><div class="card-title">Add New User</div></div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Username, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter username" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter first name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter last name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter phone number" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Role, new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Role, new SelectList(new[] {
                                new { Value = "User", Text = "User" },
                                new { Value = "Admin", Text = "Admin" }
                            }, "Value", "Text"), "--- Select Role ---", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Avatar, new { @class = "form-label" })
                            <input type="file" name="Avatar" class="form-control" accept="image/*" onchange="previewAvatar(event)" />
                            <img id="avatarPreview" src="#" style="display:none; max-height:150px; margin-top:10px;" />
                            @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="card-action">
                    <button type="submit" class="btn btn-success">Create</button>
                    <a href="@Url.Action("Index", "Users")" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function previewAvatar(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const output = document.getElementById('avatarPreview');
                output.src = reader.result;
                output.style.display = 'block';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
