@model eParty.Models.UserDiscount

@{
    ViewBag.Title = "User Discount Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">User Discount Management</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home"><a href="@Url.Action("Index", "Dashboard")"><i class="icon-home"></i></a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="@Url.Action("Index", "UserDiscounts")">User Discounts</a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="#">Details</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><div class="card-title">Details for User: @Model.UserRef.Username</div></div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">User</dt>
                    <dd class="col-sm-9">@Model.UserRef.Username</dd>

                    <dt class="col-sm-3">Discount</dt>
                    <dd class="col-sm-9">@Model.DiscountRef.CouponCode</dd>

                    <dt class="col-sm-3">Amount</dt>
                    <dd class="col-sm-9">@Model.Amount</dd>
                </dl>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Edit", "UserDiscounts", new { user = Model.User, discount = Model.Discount })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Index", "UserDiscounts")" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</div>
