@model IEnumerable<eParty.Models.UserDiscount>

@{
    ViewBag.Title = "User Discounts Management";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">User Discounts List</h4>
                <a href="@Url.Action("Create", "UserDiscounts")" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i>
                    Create New
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="userdiscount-datatables" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Discount</th>
                            <th>Amount</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.UserRef.Username)</td>
                                <td>@Html.DisplayFor(modelItem => item.DiscountRef.CouponCode)</td>
                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="@Url.Action("Edit", new { user = item.User, discount = item.Discount })" data-bs-toggle="tooltip" title="Edit" class="btn btn-link btn-primary btn-lg">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { user = item.User, discount = item.Discount })" data-bs-toggle="tooltip" title="Details" class="btn btn-link btn-info btn-lg">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", new { user = item.User, discount = item.Discount })" data-bs-toggle="tooltip" title="Remove" class="btn btn-link btn-danger">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#userdiscount-datatables').DataTable({
                "pageLength": 5, // Hiển thị 5 mục mỗi trang
            });
        });
    </script>
}
