@model eParty.Models.News

@{
    ViewBag.Title = "News Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">News Management</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home"><a href="@Url.Action("Index", "Dashboard")"><i class="icon-home"></i></a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="@Url.Action("Index", "News")">News</a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="#">Details</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Details for: @Model.Name</div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Author</dt>
                    <dd class="col-sm-9">@Model.Author.FirstName @Model.Author.LastName</dd>

                    <dt class="col-sm-3">Author Password</dt>
                    <dd class="col-sm-9">@Model.Author.Password</dd>

                    <dt class="col-sm-3">Title</dt>
                    <dd class="col-sm-9">@Model.Name</dd>

                    <dt class="col-sm-3">Subject</dt>
                    <dd class="col-sm-9">@Model.Subject</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">@Model.Description</dd>

                    <dt class="col-sm-3">Status</dt>
                    <dd class="col-sm-9">@Model.Status</dd>
                </dl>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Edit", "News", new { id = Model.Id })" class="btn btn-primary">Edit News</a>
                <a href="@Url.Action("Index", "News")" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</div>
