@model eParty.Models.Comment

@{
    ViewBag.Title = "Comment Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Comment Management</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home"><a href="@Url.Action("Index", "Dashboard")"><i class="icon-home"></i></a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="@Url.Action("Index", "Comments")">Comments</a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="#">Details</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><div class="card-title">Details for Comment</div></div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">News</dt>
                    <dd class="col-sm-9">@Model.NewsRef.Name</dd>

                    <dt class="col-sm-3">User</dt>
                    <dd class="col-sm-9">@Model.UserRef.Email</dd>

                    <dt class="col-sm-3">Stars</dt>
                    <dd class="col-sm-9">@Model.Stars</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">@Model.Description</dd>
                </dl>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Edit", new { userId = Model.User, newsId = Model.News })" class="btn btn-primary">Edit Comment</a>
                <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</div>
