@model IEnumerable<eParty.Models.Comment>

@{
    ViewBag.Title = "Comment Management";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Comment List</h4>
                <a href="@Url.Action("Create")" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i>
                    Create New
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="comment-datatables" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>News</th>
                            <th>User</th>
                            <th>Stars</th>
                            <th>Description</th>
                            <th style="width: 15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.NewsRef != null ? item.NewsRef.Name : "-")</td>
                                <td>@(item.UserRef != null ? item.UserRef.Email : "-")</td>
                                <td>
                                    @for (int i = 0; i < item.Stars; i++)
                                    {
                                        <text>⭐</text>
                                    }
                                </td>
                                <td>@item.Description</td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="@Url.Action("Edit", new { userId = item.User, newsId = item.News })" data-bs-toggle="tooltip" title="Edit" class="btn btn-link btn-primary btn-lg">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { userId = item.User, newsId = item.News })" data-bs-toggle="tooltip" title="Details" class="btn btn-link btn-info btn-lg">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", new { userId = item.User, newsId = item.News })" data-bs-toggle="tooltip" title="Remove" class="btn btn-link btn-danger">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#comment-datatables').DataTable({
                "pageLength": 5, // Hiển thị 5 mục mỗi trang
            });
        });
    </script>
}
